.clear-bottom {
  &:after {
    clear: both;
    content: "";
    display: block;
  }

}

.copy {
  font-size: 18px;
  color: $color__eff-brown;
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: $margin-medium 0;
  }
  a {
    color: $color__eff-blue;
    text-decoration: none;
    &:hover {
      color: $color__eff-brown;
    }
  }
  h1,h2,h3 {
    margin: 0 0 $margin-medium 0;
    text-transform: uppercase;
    color: $color__eff-blue;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 $margin-medium $margin-small;
    li {
      margin: 0 0 0 $margin-medium;
      padding: 0;
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}

a.surrounding {
  text-decoration: none;
  display: block;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

#masthead {
  width: 100%;
  > .row-1 {
    position: relative;
    width: 100%;
    background-color: $color__eff-light-grey;
    > .wrapper {
      padding: 10px 0;
      .account.button {
        position: relative;
        color: white;
        background-color: $color__eff-brown;
        font-size: 13px;
        width: 135px;
        min-width: 135px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        @media screen and (min-width: $tabwidth) {
          float: right;
          margin: 0;
        }
        a.surrounding {
          padding: 5px $margin-medium;
        }
      }
      #site-navigation {
        display: none;
        @media screen and (min-width: $tabwidth) {
          margin: 0 auto;
          display: block;
          width: 58%;
          padding: $margin-tiny 0 0 0;
        }
        @media screen and (min-width: $midwidth) {
          width: 68%;
        }
        @media screen and (min-width: 1200px) {
          width: 75%;
        }
        ul {
          margin: 0;
          padding: 0;
          text-align: center;
          li {
            display: inline-block;
            margin-right: $margin-large;
            &:last-child {
              margin-right: 0;
            }
            a {
              color: $color__eff-brown;
              text-decoration: none;
              font-size: 17px;
              text-transform: uppercase;
              &:hover {
                color: $color__eff-brown;
                text-decoration: underline;
              }

            }
          }
          &.sub-menu {
            li {
              a {

              }
            }
          }
        }
      }
    }
  }
  > .row-2 {
    width: 100%;
    > .wrapper {
      padding: $margin-large;
      .logo {
        position: relative;
        margin: 0 auto;
        width: 80%;
        @media screen and (min-width: $mobilelandscapewidth) {
          width: 50%;
        }
        @media screen and (min-width: $tabwidth) {
          width: 30%;
        }
        a {
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  >.row-3 {
    position: relative;
    width: 100%;
    background-color: $color__eff-light-grey;
    margin: 0 0 15px 0;
    @media screen and (min-width: $tabwidth) {
      display: none;
    }
    >.wrapper {
      padding: 10px 0;
      .button {
        position: relative;
        color: white;
        padding: $margin-small $margin-medium;
        background-color: $color__eff-blue;
        font-size: 18px;
        width: 135px;
        min-width: 135px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
      }
      #mobile-site-navigation {
        display: none;
        width: 100%;
        padding: 10px 0 0 0;
        ul {
          margin: 0;
          padding: 0;
          text-align: center;
          li {
            display: block;
            width: 100%;
            text-align: center;
            padding: 0 0 $margin-small 0;
            &:last-child {
              padding: 0;
            }
            a {
              color: $color__eff-brown;
              text-decoration: none;
              font-size: 17px;
              text-transform: uppercase;
              &:hover {
                color: $color__eff-brown;
                text-decoration: underline;
              }

            }
          }
          &.sub-menu {
            li {
              a {

              }
            }
          }
        }
      }
    }
  }
}
#colophon {
  >.wrapper {
    .site-info {
      .account {

      }
      .email {

      }
      .sitemapbw {

      }
    }
    .email-signup {

    }
  }
}

.full-width-wrapper {
  width: 95%;
  margin: 0 auto;
}

.template-header {
  position: relative;
  margin-bottom: $margin-medium;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: $tabwidth) {
    margin-bottom: $margin-extra-large;
    background-image: none !important;
  }
  img {
    width: 100%;
    display: none;
    @media screen and (min-width: $tabwidth) {
      display: block;
    }
  }
  h1 {
    text-align: center;
    @include dropshadow;
    width: 90%;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 500;
    padding: 10% 0;
    @media screen and (min-width: $tabwidth) {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
    }
  }
}