.template-index {
  > .row-1 {
    margin-bottom: 15px;
    position: relative;
    .outer-wrapper {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .inner-wrapper {
        padding: 15px;
        @media screen and (min-width: $tabwidth) {
          padding: 15% 4% 10% 4%;
          width: 55%;
        }
        .tag {
          font-size: 30px;
          text-transform: uppercase;
          padding: 0 0 $margin-medium 0;
          color: white;
          @include dropshadow;
        }
        .copy {
          font-size: 23px;
          padding: 0 0 $margin-medium 0;
          color: white;
          @include dropshadow;
        }
        .button {
          display: inline-block;
          background-color: $color__eff-blue;
          color: white;
          font-size: 19px;
          font-weight: 600;
          position: relative;
          text-transform: uppercase;
          a.surrounding {
            border: 1px solid white;
            padding: $margin-medium $margin-large;
          }
        }
      }
    }
  }
  > .row-2 {
    margin-bottom: 15px;
    @media screen and (max-width: $tabwidth) {
      background-image: none !important;
    }
    @media screen and (min-width: $tabwidth) {
      background-color: $color__eff-light-grey;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-size: auto 60%;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
    > .column-1 {
      width: 100%;
      @media screen and (min-width: $tabwidth) {
        width: 35%;
      }
      @media screen and (min-width: 1100px) {
        width: 25%;
      }
      img {
        width: 70%;
        display: block;
        margin: 0 auto 15px auto;
        @media screen and (min-width: $tabwidth) {
          width: 100%;
          margin: 0;
        }
      }
    }
    > .column-2 {
      width: 100%;
      position: relative;
      padding: $margin-medium;
      background-size: auto 60%;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-color: $color__eff-light-grey;
      @media screen and (min-width: $tabwidth) {
        background-image: none !important;
        background-color: transparent;
        width: 65%;
      }
      @media screen and (min-width: 1100px) {
        width: 75%;
      }
      > .wrapper {
        padding: 2% 5%;
        .tag {
          font-size: 30px;
          text-transform: uppercase;
          color: $color__eff-blue;
          font-weight: 300;
          padding: 0 0 $margin-medium 0;
        }
        .copy {
          font-size: 20px;
          padding: 0 0 $margin-large 0;
        }
        .button {
          position: relative;
          display: inline-block;
          font-size: 22px;
          text-transform: uppercase;
          color: $color__eff-blue;
          a.surrounding {
          }
        }
      }
    }
  }
  > .row-3, > .row-4, > .row-5 {
    margin-bottom: 15px;
    background-color: $color__eff-blue;
    @media screen and (min-width: $tabwidth) {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: center;
    }
    @media screen and (min-width: 1400px) {
      align-items: center;
    }
    &:last-child {
      margin-bottom: $margin-extra-large;
    }
    > .column-1 {
      order: 2;
      width: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media screen and (min-width: $tabwidth) {
        width: 50%;
      }
      img {
        width: 100%;
        display: block;
        @media screen and (min-width: $tabwidth) {
          display: none;
        }
        @media screen and (min-width: 1400px) {
          display: block;
        }
      }
    }
    > .column-2 {
      order: 1;
      width: 100%;
      position: relative;
      @media screen and (min-width: $tabwidth) {
        width: 50%;
      }
      a.surrounding {
        > .wrapper {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          color: white;
          padding: $margin-medium 0;
          @media screen and (min-width: $tabwidth) {
            padding: 8% 0;
          }
          .tag {
            font-size: 27px;
            text-transform: uppercase;
            padding: 0 0 $margin-tiny 0;
          }
          .icon {
            width: 30px;
            margin: 0 auto;
          }
          .copy {
            padding: $margin-medium 0 0 0;
            color: white;
            font-size: 22px;
          }
        }
      }
    }
  }
  > .row-3 {
    > .column-1 {
      img {

      }
    }
    > .column-2 {
      .tag {
      }
      .copy {

      }
    }
  }
  > .row-4 {
    > .column-1 {
      @media screen and (min-width: $tabwidth) {
        order: 1;
      }
      img {

      }
    }
    > .column-2 {
      @media screen and (min-width: $tabwidth) {
        order: 2;
      }
      .tag {
      }
      .copy {

      }
    }
  }
  > .row-5 {
    > .column-1 {
      img {

      }
    }
    > .column-2 {
      .tag {
      }
      .copy {

      }
    }
  }
}

.template-how {
  .row-1.template-header {
    @media screen and (max-width: $tabwidth) {
      margin-bottom: 0;
    }
  }
  > .row-2, > .row-3, > .row-4 {
    @media screen and (min-width: $tabwidth) {
      margin-bottom: 4%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: center;
    }
    &:last-child {
      margin-bottom: $margin-extra-large;
    }
    > .column-1 {
      order: 1;
      width: 100%;
      @media screen and (min-width: $tabwidth) {
        width: 51%;
      }
      > .wrapper {
        text-align: left;
        padding: $margin-medium 0;
        @media screen and (min-width: $tabwidth) {
          padding: 0 100%-(100%*49/51) 0 0;
        }
        .row-1 {
          img {
            float: left;
            width: 20%;
            margin: 0 4% 3% 0;
          }
          header {
            padding: $margin-medium 0;
            h2 {
              font-weight: 500;
              text-transform: uppercase;
              color: $color__eff-blue;
              margin: 0;
              padding: 0;
            }
          }
          .tag {
            margin: 0 0 3% 0;
            font-style: italic;
            font-family: "adobe-caslon-pro", serif;
            color: $color__eff-blue;
            font-size: 23px;
          }
        }
        .row-2 {

        }
      }
    }
    > .column-2 {
      order: 2;
      width: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media screen and (min-width: $tabwidth) {
        width: 49%;
      }
      img {
        width: 100%;
        display: block;
        @media screen and (min-width: $tabwidth) {
          display: none;
        }
      }
    }
  }
  > .row-2 {
    > .column-1 {
    }
    > .column-2 {
    }
  }
  > .row-3 {
    > .column-1 {
      @media screen and (min-width: $tabwidth) {
        order: 2;
      }
      .wrapper {
        @media screen and (min-width: $tabwidth) {
          padding: 0 0 0 100%-(100%*49/51);
        }
      }
    }
    > .column-2 {
      @media screen and (min-width: $tabwidth) {
        order: 1;
      }
    }
  }
  > .row-4 {
    > .column-1 {
    }
    > .column-2 {
    }
  }
}

.template-about, .template-page {
  .row-1 {
    /* see template header */
  }
  .row-2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 0 $margin-large 0;
    .column-1 {
      width: 100%;
      order: 2;
      @media screen and (min-width: $mobilelandscapewidth) {
        width: 50%;
      }
      @media screen and (min-width: $midwidth) {
        width: 32%;
        order: 1;
      }
      > .wrapper {
        padding: 0 0 $margin-medium 0;
        @media screen and (min-width: $mobilelandscapewidth) {
          padding: 0 4% 0 0;
        }
        @media screen and (min-width: $midwidth) {
          padding: 0;
        }
        img {
          display: block;
          margin: 0 auto;
          width: 70%;
          @media screen and (min-width: $mobilelandscapewidth) {
            width: 100%;
          }
        }
      }
    }
    .column-2 {
      width: 100%;
      order: 1;
      @media screen and (min-width: $midwidth) {
        width: 46%;
        order: 2;
      }
      > .wrapper {
        padding: 0 4% $margin-medium 4%;
        @media screen and (min-width: $midwidth) {
          padding: 0 4%;
        }
      }
    }
    aside.column-3 {
      order: 3;
      width: 100%;
      @media screen and (min-width: $mobilelandscapewidth) {
        width: 50%;
      }
      @media screen and (min-width: $midwidth) {
        width: 22%;
      }
      > .outer-wrapper {
        padding: 0 4%;
        height: 100%;
        @media screen and (min-width: $mobilelandscapewidth) {
          padding: 0 0 0 4%;
        }
        @media screen and (min-width: $midwidth) {
          padding: 0;
        }
        > .inner-wrapper {
          height: 100%;
          background-color: $color__eff-blue;
          width: 100%;
          margin: 0;
          background-size: 80% auto;
          background-position: top center;
          background-repeat: no-repeat;
          @media screen and (min-width: $midwidth) {
            background-size: 100% auto;
          }
          blockquote {
            padding: 0 12%;
            font-style: italic;
            font-family: "adobe-caslon-pro", serif;
            padding: 50px 0 $margin-large 0;
            p {
              color: white;
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}

.template-contact {
  .row-1 {
    /* see template header */
  }
  .row-2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 0 $margin-large 0;
    .column-1 {
      width: 100%;
      order: 1;
      @media screen and (min-width: $tabwidth) {
        width: 78%;
      }
      .gform_wrapper {
        @media screen and (min-width: $tabwidth) {
          width: 65%;
        }
      }
      > .wrapper {
        padding: 0 4% $margin-medium 4%;
        @media screen and (min-width: $tabwidth) {
          padding: 0 4% 0 0;
        }
      }
    }
    aside.column-2 {
      order: 2;
      width: 100%;
      @media screen and (min-width: $tabwidth) {
        width: 22%;
      }
      > .outer-wrapper {
        padding: 0 4%;
        height: 100%;
        @media screen and (min-width: $tabwidth) {
          padding: 0;
        }
        > .inner-wrapper {
          height: 100%;
          background-color: $color__eff-blue;
          width: 100%;
          margin: 0;
          background-size: 80% auto;
          background-position: top center;
          background-repeat: no-repeat;
          @media screen and (min-width: $tabwidth) {
            background-size: 100% auto;
          }
          blockquote {
            padding: 0 12%;
            font-style: italic;
            font-family: "adobe-caslon-pro", serif;
            padding: 50px 0 $margin-large 0;
            p {
              color: white;
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}

.template-sitemap, .error-404 {
  .row-1 {
    /* see template header */
  }
  .row-2 {
    padding: 0 4% $margin-large 4%;
    .sitemap {
      > .menu-sitemap-container {
        > ul {
          margin-bottom: 0;
        }
      }
    }
  }
}