.template-index {
  > .row-1 {
    margin-bottom: 15px;
    position: relative;
    img {
      width: 100%;
      display: block;
    }
    .overlay {
      @media screen and (min-width: $tabwidth) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .tag {

      }
      .copy {

      }
      .button {
        position: relative;
        a.surrounding {
        }
      }
    }
  }
  > .row-2 {
    margin-bottom: 15px;
    background-color: $color__eff-light-grey;
    @media screen and (min-width: $tabwidth) {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    > .column-1 {
      width: 100%;
      @media screen and (min-width: $tabwidth) {
        width: 25%;
      }
      img {
        width: 100%;
        display: block;
      }
    }
    > .column-2 {
      width: 100%;
      position: relative;
      @media screen and (min-width: $tabwidth) {
        width: 75%;
      }
      .tag {

      }
      .copy {

      }
      .button {
        position: relative;
        a.surrounding {

        }
      }
    }
  }
  > .row-3, > .row-4, > .row-5 {
    margin-bottom: 15px;
    background-color: $color__eff-blue;
    @media screen and (min-width: $tabwidth) {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    &:last-child {
      margin-bottom: $margin-extra-large;
    }
    > .column-1 {
      order: 2;
      width: 100%;
      position: relative;
      @media screen and (min-width: $tabwidth) {
        width: 50%;
      }
      img {
        width: 100%;
        display: block;
      }
    }
    > .column-2 {
      order: 1;
      width: 100%;
      @media screen and (min-width: $tabwidth) {
        width: 50%;
      }
      > .wrapper {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: white;
        .tag {
        }
        .copy {
          p {
            color: white;
          }

        }
      }
    }
  }
  > .row-3 {
    > .column-1 {
      img {

      }
    }
    > .column-2 {
      .tag {
      }
      .copy {

      }
    }
  }
  > .row-4 {
    > .column-1 {
      order: 1;
      img {

      }
    }
    > .column-2 {
      order: 2;
      .tag {
      }
      .copy {

      }
    }
  }
  > .row-4 {
    > .column-1 {
      img {

      }
    }
    > .column-2 {
      .tag {
      }
      .copy {

      }
    }
  }
}

.template-about {
  .row-1 {
    position: relative;
    margin-bottom: $margin-medium;
    @media screen and (min-width: $tabwidth) {
      margin-bottom: $margin-extra-large;
    }
    img {
      width: 100%;
      display: block;
    }
    h1 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 5%;
      width: 90%;
      color: white;
      font-size: 30px;
      text-transform: uppercase;
      transform: translateY(-50%);
      margin: 0;
      font-weight: 500;
    }
  }
  .row-2 {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: center;
    flex-wrap: wrap;
    .column-1 {
      width: 100%;
      order: 2;
      @media screen and (min-width: $mobilelandscapewidth) {
        width: 50%;
      }
      @media screen and (min-width: $midwidth) {
        width: 32%;
        order: 1;
      }
      > .wrapper {
        padding: 0 0 $margin-medium 0;
        @media screen and (min-width: $mobilelandscapewidth) {
          padding: 0 4% $margin-large 0;
        }
        @media screen and (min-width: $midwidth) {
          padding: 0;
        }
        img {
          display: block;
          margin: 0 auto;
          width: 70%;
          @media screen and (min-width: $mobilelandscapewidth) {
            width: 100%;
          }
        }
      }
    }
    .column-2 {
      width: 100%;
      order: 1;
      @media screen and (min-width: $midwidth) {
        width: 46%;
        order: 2;
      }
      > .wrapper {
        padding: 0 4% $margin-medium 4%;
        @media screen and (min-width: $midwidth) {
          padding: 0 4%;
        }
      }
    }
    aside.column-3 {
      order: 3;
      @media screen and (min-width: $mobilelandscapewidth) {
        width: 50%;
      }
      @media screen and (min-width: $midwidth) {
        width: 22%;
      }
      >.outer-wrapper {
        padding: 0 0 $margin-large 0;
        @media screen and (min-width: $mobilelandscapewidth) {
          padding: 0 0 $margin-large 4%;
        }
        @media screen and (min-width: $midwidth) {
          padding: 0;
        }
        >.inner-wrapper {
          background-color: $color__eff-blue;
          width: 80%;
          margin: 0 auto;
          @media screen and (min-width: $mobilelandscapewidth) {
            margin: 0;
            width: 100%;
          }
          img {
            width: 100%;
            display: block;
            margin: 0 0 50px 0;
            @media screen and (min-width: $mobilelandscapewidth) {
              width: 70%;
              margin: 0 auto $margin-large auto;
            }
            @media screen and (min-width: $midwidth) {
              width: 100%;
              margin: 0 0 50px 0;
            }
          }
          blockquote {
            padding: 0 12%;
            font-style: italic;
            font-family: "adobe-caslon-pro", serif;
            padding: 0 0 $margin-large 0;
            p {
              color: white;
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}